@charset "UTF-8";

*{
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
    text-shadow: 0.6px 0.6px 0.6px black;
}
body   {background-color: rgb(255, 236, 212);
}
header{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:  1.5em;
}
form, #link{
    text-align: center;
    padding: 20px;
    margin: 20px;
}
input{
    padding: 8px;
    background-color: rgba(249, 243, 233, 0.539);
    color: rgb(0, 0, 0);
}
label, legend{
    font-size: 20px;
    font-weight: bold;
}
button{
    padding: 20px;
    margin: 20px;
    width: 140px;
    border-radius: 30px;
    font-size: 20px;
    background-color: rgba(253, 212, 253, 0.699);
}
fieldset{
    border: 5px solid black;
    padding: 3px;
    background-image: linear-gradient(to right, rgba(249, 243, 233, 0.539), rgb(243, 226, 184)) ;
    box-shadow: 2px 2px 2px black;
}
legend {
    color: rgb(54, 31, 2);
}
#link{
    text-align: right;
    margin: -20px;
    text-decoration: none;
}
a{
    text-decoration: none;
    color: rgb(31, 5, 116)
}
a:hover{
    background-color: rgb(244, 193, 193);
    border: 2px solid black;
    color: rgb(1, 159, 1);
}
button:hover{
    background-color: rgb(126, 223, 255);
    transition-duration: 1s;
}
#termoparadireita{
    text-align: right;
    margin: 2px;
    padding: 0px 5px 0px 0px;
}
.email{
    margin: 15px;
    
}


