*{
    background-color: #273F42;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
form{
    text-align: center;
}
#cabeca{
    height: 30px;
    margin: auto;
    margin-bottom: 10px;
    width: 550px;
    border: 3.5px solid  black;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    background-color: #10292C;
    padding: 10px;
    
}
#cabeca:hover{
    background-color: #354B4E;
}
input::placeholder{
    color: rgba(255, 255, 255, 0.308);;
    opacity: 0.5;
}
h1{
    font-size: 6em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(250, 242, 242);
    text-align: center;
    margin: 100px;
}
main{
    text-align: center;
}
@media(min-width:1100px){
    #cabeca{
        width: 800px;
    }
}
@media(min-width: 1300px){
    #cabeca{
        width: 900px;
    }
}
hr{
    border: 0.3px solid rgba(255, 255, 255, 0.066);
}




#corpo{

    width: 600px;
    height: 40px;
    padding: 20px;
    border-radius: 30px;
    background-color: white;
}

input::placeholder{
    color: gray;
    opacity: 0.5;
}
#google{
    text-decoration: none;
}
#google:hover h1{
    color: rgb(208, 253, 253);
}
@media(max-width: 619px){
    #cabeca {
        width: 500px;
    }
    #corpo{
        width: 500px;
    }

    }
@media(min-width: 1200px){
    #corpo{
        width: 1000px;
    }
    #cabeca{
        width: 1500px;
    }
}

.icone h2{
    font-size: 30px;
    margin: 60px auto;
    border: 0.1px solid #021e21 ;
    border-radius: 100px ;
    width: 50px;
    text-align: center;
    height: 50px;
    padding-top: 6px;
    background-color: #717b7c5d;
}
